{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2 class="text-center mb-4">About Our Hospital Management System</h2>
            <p class="text-center mb-4">Welcome to our Hospital Management System!</p>
            <p>Our system aims to streamline the operations of hospitals and healthcare facilities by providing an efficient platform for managing patients, doctors, appointments, and administrative tasks.</p>

            <h3 class="mt-5">Key Features:</h3>
            <ol>
                <li><strong>Patient Management:</strong> Easily add, edit, and view patient records, including personal information, medical history, and appointments.</li>
                <li><strong>Doctor Management:</strong> Maintain a database of doctors, their specialties, contact details, and availability.</li>
                <li><strong>Appointment Scheduling:</strong> Schedule appointments for patients with their preferred doctors, manage time slots, and track appointment history.</li>
                <li><strong>Administrative Tools:</strong> Access comprehensive administrative tools for managing user accounts, permissions, and system settings.</li>
            </ol>

            <h3 class="mt-5">Mission Statement:</h3>
            <p>Our mission is to enhance the quality of healthcare services by offering a user-friendly and reliable Hospital Management System that simplifies day-to-day operations, improves patient care, and promotes efficiency within healthcare organizations.</p>

            <h3 class="mt-5">Contact Us:</h3>
            <h4>Karan Goyal (22101A0069) (INFT A) Mob-9004574276</h4>

            <p>If you have any questions, feedback, or suggestions, please don't hesitate to contact us. We're here to assist you in any way we can!</p>

            <p class="text-center mt-5">Thank you for choosing our Hospital Management System.</p>
        </div>
    </div>
</div>
{% endblock %}
